@page
@model Visio_Beta_1.Areas.Admin.Pages.CategoriesModel
@{
    ViewData["Title"] = "Bibliother/Categories";
}

<div class="container text-warning text-center">
    <h1 class="display-1">Admin Bibliotheque <b class="text-info">categories</b></h1>
</div>

<div class="container align-content-lg-end">
    <a href="#" class="btn btn-primary">Ajouter une Categories</a>
</div>

<div class="container-fluid">
    @if (Model.GetCategories.Count() > 0)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Designation</th>                   
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model.GetCategories)
            {
                <tbody>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Designation</td>                       
                        <td>
                            <a href="#" class="btn btn-warning">Update</a>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    }
    else
    {
        <div class="border align-content-center mt-5">
            <h1 class="text-warning font-weight-bold display-1 text-center">Ooops!</h1>
            <h1 class="text-info text-center">Aucune Categories n'est disponible pour l'instant Veuillez en ajouter.</h1>
        </div>
    }
</div>