@page
@model Visio_Beta_1.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Admin";
}


    <div class="container text-warning text-center">
        <h1 class="display-1">Admin <b class="text-info">Dashboard</b></h1>
    </div>

    <div class="container row justify-content-sm-center">
        <div class="col-6 bg-danger rounded col-lg-5 p-3 m-3">
            <h1 class="text-white font-weight-bold">
            <a asp-page-handler="Livres" class="text-white nav-link">Livres</a>
            </h1>
        </div>
        <div class="col-6 bg-warning rounded col-lg-5 p-3 m-3">
            <h1 class="text-white font-weight-bold"><a href="#" class="text-white nav-link">Produits</a></h1>
        </div>
        <div class="col-6 bg-secondary rounded col-lg-5 p-3 m-3">
            <h1 class="text-white font-weight-bold"><a href="#" class="text-white nav-link">Categories</a></h1>
        </div>
        <div class="col-6 bg-info rounded col-lg-5 p-3 m-3">
            <h1 class="text-white font-weight-bold"><a href="#" class="text-white nav-link">Utilisateurs</a></h1>
        </div>
    </div>