@page
@model Visio_Beta_1.Areas.Admin.Pages.Shared.AddModel
@{
    ViewData["Title"] = "Add New";
}

    <div class="container justify-content-sm-center">
        <h1 class="text-warning">Admin <b class="text-info"> Add Book</b></h1>
    </div>

    <div class="card shadow-lg col-6 justify-content-md-center offset-3 pt-lg-3 mt-4">
        <form method="post">
            <div class="form-group row p-3">
                <div class="col-3">
                    <label></label>
                </div>
                <div class="col-6">
                    <input type="text"  class="form-control" />
                </div>
            </div>
        </form>
    </div>